<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <h3>#{localeResources['sidebar.app.settings']}</h3>
                <p:messages closable="true" globalOnly="true"/>

                <h:form id="addSystem" prependId="false">
                    <div class="tealcard card-w-title">

                        <h3>#{localeResources['monitor.system']}</h3>
                        <p:panel header="#{localeResources['add.new']} #{localeResources['monitor.system']}">

                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="sysName" style="width: 100%"
                                                 value="#{monitorSettingsController.newSystem.sysName}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true" maxlength="50"/>
                                    <label>#{localeResources['monitor.system.name']}</label>
                                    <p:message for="sysName" display="text"/>
                                </h:panelGroup>

                            </p:panelGrid>

                            <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
                                <p:commandButton value="#{localeResources['System.action.Save']}"
                                                 ajax="false"
                                                 action="#{monitorSettingsController.addSystem()}"
                                                 styleClass="teal-btn"/>

                                <p:spacer width="10"/>

                                <p:commandButton value="#{localeResources['system.button.cancel']}"
                                                 ajax="false" immediate="true"
                                                 action="#{monitorSettingsController.cancel()}"
                                                 styleClass="teal-btn"/>
                            </div>
                            <br/>
                            <br/>
                        </p:panel>

                        <br/><p:fragment/>

                        <p:dataTable value="#{monitorSettingsController.systemsList}" var="sys" lazy="false" sortBy="#{sys.sysId}"
                                     currentPageReportTemplate="#{localeResources['General.Pagination.totalOfRows']} : {totalRecords}    #{localeResources['General.pagination.showing']} {currentPage} #{localeResources['General.pagination.of']} {totalPages} #{localeResources['General.pagination.pages']}"
                                     emptyMessage="#{localeResources['System.tables.noData']}" rows="10" id="systemsList">

                            <p:column headerText="#{localeResources['id']}" filterMatchMode="contains" filterBy="#{sys.sysId}" sortBy="#{sys.sysId}">
                                <h:outputText value="#{sys.sysId}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['monitor.system.name']}" filterMatchMode="contains" filterBy="#{sys.sysName}" sortBy="#{sys.sysName}">
                                <h:outputText value="#{sys.sysName}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['action.by']}" filterMatchMode="contains" filterBy="#{sys.changeUsername}" sortBy="#{sys.changeUsername}">
                                <h:outputText value="#{sys.changeUsername}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['status']}" filterMatchMode="contains" filterBy="#{sys.sysState}" sortBy="#{sys.sysState}">
                                <h:outputText value="#{sys.sysState eq 0 ? localeResources['system.generic.active']:localeResources['system.generic.deactive']}"
                                              styleClass="#{sys.sysState eq 0 ? 'Approved':'Rejected'}"/>

                            </p:column>




                            <p:column style="width: 15%">
                                <p:menuButton value="#{localeResources['system.generic.actions']}">
                                    <p:menuitem value="#{localeResources['system.generic.actions.edit']}"
                                                immediate="true" ajax="false" update="@form"
                                                action="#{monitorSettingsController.editSystem(sys)}"
                                                icon="ui-icon-edit"/>

                                    <p:menuitem value="#{sys.sysState eq 0? localeResources['system.generic.Deactivate'] : localeResources['system.generic.Activate']}"
                                                immediate="true" ajax="false"
                                                action="#{monitorSettingsController.changeSystemState(sys)}"
                                                icon="#{sys.sysState eq 0? 'ui-icon-close':'ui-icon-check'}"/>

                                </p:menuButton>
                            </p:column>


                        </p:dataTable>
                    </div>
                </h:form>


                <h:form id="addGroup" prependId="false">
                    <div class="tealcard card-w-title">
                        <h3>#{localeResources['monitor.group']}</h3>
                        <p:panel header="#{localeResources['add.new']} #{localeResources['monitor.group']}">

                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="grpName" style="width: 100%"
                                                 value="#{monitorSettingsController.newGroup.grpName}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true" maxlength="50"/>
                                    <label>#{localeResources['monitor.group.name']}</label>
                                    <p:message for="grpName" display="text"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu id="sysList" filter="true" filterMatchMode="contains"
                                                     value="#{monitorSettingsController.newGroup.grpSysId}"
                                                     required="true"
                                                     requiredMessage="#{localeResources['system.input.required']}">
                                        <f:selectItem itemLabel="" itemValue=""/>
                                        <f:selectItems value="#{monitorSettingsController.systemsList}" var="sysLists"
                                                       itemLabel="#{sysLists.sysName}" itemValue="#{sysLists.sysId}"/>
                                    </p:selectOneMenu>
                                    <label>#{localeResources['monitor.group.related.system']} </label>
                                    <p:message for="sysList" display="text"/>
                                </h:panelGroup>

                            </p:panelGrid>

                            <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
                                <p:commandButton value="#{localeResources['System.action.Save']}"
                                                 ajax="false"
                                                 action="#{monitorSettingsController.addGroup()}"
                                                 styleClass="teal-btn"/>

                                <p:spacer width="10"/>

                                <p:commandButton value="#{localeResources['system.button.cancel']}"
                                                 ajax="false" immediate="true"
                                                 action="#{monitorSettingsController.cancel()}"
                                                 styleClass="teal-btn"/>
                            </div>
                            <br/>
                            <br/>
                        </p:panel>

                        <br/><p:fragment/>


                        <p:dataTable value="#{monitorSettingsController.groupsList}" var="grp" lazy="false" sortBy="#{grp.grpId}"
                                     currentPageReportTemplate="#{localeResources['General.Pagination.totalOfRows']} : {totalRecords}    #{localeResources['General.pagination.showing']} {currentPage} #{localeResources['General.pagination.of']} {totalPages} #{localeResources['General.pagination.pages']}"
                                     emptyMessage="#{localeResources['System.tables.noData']}" rows="10" id="groupTable">


                        <p:column headerText="#{localeResources['id']}" filterMatchMode="contains" filterBy="#{grp.grpId}" sortBy="#{grp.grpId}">
                                <h:outputText value="#{grp.grpId}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['monitor.group.name']}" filterMatchMode="contains" filterBy="#{grp.grpName}" sortBy="#{grp.grpName}">
                                <h:outputText value="#{grp.grpName}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['monitor.group.related.system']}" filterMatchMode="contains" filterBy="#{grp.grpSysId}" sortBy="#{grp.grpSysId}">
                                <h:outputText value="#{grp.grpSysId} - #{grp.system.sysName}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['action.by']}" filterMatchMode="contains" filterBy="#{grp.changeUsername}" sortBy="#{grp.changeUsername}">
                                <h:outputText value="#{grp.changeUsername}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['status']}" filterMatchMode="contains" filterBy="#{grp.grpState}" sortBy="#{grp.grpState}">
                            <h:outputText value="#{grp.grpState eq 0 ? localeResources['system.generic.active']:localeResources['system.generic.deactive']}"
                                          styleClass="#{grp.grpState eq 0 ? 'Approved':'Rejected'}"/>
                            </p:column>


                            <p:column style="width: 15%">
                                <p:menuButton value="#{localeResources['system.generic.actions']}">
                                    <p:menuitem value="#{localeResources['system.generic.actions.edit']}"
                                                immediate="true" ajax="false" update="@form"
                                                action="#{monitorSettingsController.editGroup(grp)}"
                                                icon="ui-icon-edit"/>

                                    <p:menuitem value="#{grp.grpState eq 0? localeResources['system.generic.Deactivate'] : localeResources['system.generic.Activate']}"
                                                immediate="true" ajax="false"
                                                action="#{monitorSettingsController.changeGroupState(grp)}"
                                                icon="#{grp.grpState eq 0? 'ui-icon-close':'ui-icon-check'}"/>
                                </p:menuButton>
                            </p:column>


                        </p:dataTable>

                    </div>
                </h:form>

                <h:form id="addKpi" prependId="false">
                    <div class="tealcard card-w-title">

                        <h3>#{localeResources['monitor.kpi']}</h3>
                        <p:panel header="#{localeResources['add.new']} #{localeResources['monitor.kpi']}">


                        <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="kpiName" style="width: 100%"
                                                 value="#{monitorSettingsController.newKpi.kpiName}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true" maxlength="50"/>
                                    <label>#{localeResources['monitor.kpi.name']}</label>
                                    <p:message for="kpiName" display="text"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu id="grpList" filter="true" filterMatchMode="contains"
                                                     value="#{monitorSettingsController.newKpi.kpiGrpId}"
                                                     required="true"
                                                     requiredMessage="#{localeResources['system.input.required']}">
                                        <f:selectItem itemLabel="" itemValue=""/>
                                        <f:selectItems value="#{monitorSettingsController.groupsList}" var="grpLists"
                                                       itemLabel="#{grpLists.grpName}" itemValue="#{grpLists.grpId}"/>
                                    </p:selectOneMenu>
                                    <label>#{localeResources['monitor.kpi.related.group']} </label>
                                    <p:message for="grpList" display="text"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu id="kpiTyeps" filter="true" filterMatchMode="contains"
                                                     value="#{monitorSettingsController.newKpi.kpiTypeId}"
                                                     required="true"
                                                     requiredMessage="#{localeResources['system.input.required']}">
                                        <f:selectItem itemLabel="" itemValue=""/>
                                        <f:selectItems value="#{monitorSettingsController.kpiTypes}" var="kpiTypesVar"
                                                       itemLabel="#{kpiTypesVar.kpiTypeName}" itemValue="#{kpiTypesVar.kpiTypeId}"/>
                                    </p:selectOneMenu>
                                    <label>#{localeResources['monitor.kpi.type']} </label>
                                    <p:message for="kpiTyeps" display="text"/>
                                </h:panelGroup>

                            </p:panelGrid>

                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="kpiCheckQuery" style="width: 100%"
                                                 value="#{monitorSettingsController.newKpi.kpiCheckQuery}"
                                                 requiredMessage="#{localeResources['system.input.required']}" required="true"/>
                                    <label>#{localeResources['monitor.kpi.check.query']}</label>
                                    <p:message for="kpiCheckQuery" display="text"/>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="kpiResultQuery" style="width: 100%"
                                                 value="#{monitorSettingsController.newKpi.kpiResultQuery}"
                                                 requiredMessage="#{localeResources['system.input.required']}" required="true"/>
                                    <label>#{localeResources['monitor.kpi.result.query']}</label>
                                    <p:message for="kpiResultQuery" display="text"/>
                                </h:panelGroup>
                            </p:panelGrid>

                            <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
                                <p:commandButton value="#{localeResources['System.action.Save']}"
                                                 ajax="false"
                                                 action="#{monitorSettingsController.addKpi()}"
                                                 styleClass="teal-btn"/>

                                <p:spacer width="10"/>

                                <p:commandButton value="#{localeResources['system.button.cancel']}"
                                                 ajax="false" immediate="true"
                                                 action="#{monitorSettingsController.cancel()}"
                                                 styleClass="teal-btn"/>
                            </div>
                            <br/>
                            <br/>
                        </p:panel>

                        <br/><p:fragment/>


                        <p:dataTable value="#{monitorSettingsController.kpisList}" var="kpi" lazy="false" sortBy="#{kpi.kpiId}"
                                     currentPageReportTemplate="#{localeResources['General.Pagination.totalOfRows']} : {totalRecords}    #{localeResources['General.pagination.showing']} {currentPage} #{localeResources['General.pagination.of']} {totalPages} #{localeResources['General.pagination.pages']}"
                                     emptyMessage="#{localeResources['System.tables.noData']}" rows="10" id="kpiTable">


                            <p:column headerText="#{localeResources['id']}" filterMatchMode="contains" filterBy="#{kpi.kpiId}" sortBy="#{kpi.kpiId}">
                                <h:outputText value="#{kpi.kpiId}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['monitor.kpi.name']}" filterMatchMode="contains" filterBy="#{kpi.kpiName}" sortBy="#{kpi.kpiName}">
                                <h:outputText value="#{kpi.kpiName}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['monitor.kpi.related.group']}" filterMatchMode="contains" filterBy="#{kpi.kpiGrpId}" sortBy="#{kpi.kpiGrpId}">
                                <h:outputText value="#{kpi.kpiGrpId} - #{kpi.group.grpName}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['monitor.kpi.type']}" filterMatchMode="contains" filterBy="#{kpi.kpiTypeId}" sortBy="#{kpi.kpiTypeId}">
                                <h:outputText value="#{kpi.kpiTypeId} - #{kpi.kpiType.kpiTypeName}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['action.by']}" filterMatchMode="contains" filterBy="#{kpi.changeUsername}" sortBy="#{kpi.changeUsername}">
                                <h:outputText value="#{kpi.changeUsername}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['status']}" filterMatchMode="contains" filterBy="#{kpi.kpiState}" sortBy="#{kpi.kpiState}">
                                <h:outputText value="#{kpi.kpiState eq 0 ? localeResources['system.generic.active']:localeResources['system.generic.deactive']}"
                                              styleClass="#{kpi.kpiState eq 0 ? 'Approved':'Rejected'}"/>
                            </p:column>


                            <p:column style="width: 15%">
                                <p:menuButton value="#{localeResources['system.generic.actions']}">
                                    <p:menuitem value="#{localeResources['system.generic.actions.edit']}"
                                                immediate="true" ajax="false" update="@form"
                                                action="#{monitorSettingsController.editKpi(kpi)}"
                                                icon="ui-icon-edit"/>

                                    <p:menuitem value="#{kpi.kpiState eq 0? localeResources['system.generic.Deactivate'] : localeResources['system.generic.Activate']}"
                                                immediate="true" ajax="false"
                                                action="#{monitorSettingsController.changeKpiState(kpi)}"
                                                icon="#{kpi.kpiState eq 0? 'ui-icon-close':'ui-icon-check'}"/>
                                </p:menuButton>
                            </p:column>


                        </p:dataTable>

                    </div>
                </h:form>



            </div>
        </div>
    </ui:define>
</ui:composition>