
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        template="/WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li><p:link outcome="/home">#{localeResources['title']}</p:link></li>
    </ui:define>
    <ui:define name="content">
        <h3>#{localeResources['title']}</h3>
    </ui:define>
</ui:composition>
