.layout-wrapper .layout-main .layout-footer {
    border: 0 none;
    border: 1px solid #dbdbdb;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    text-align: center;

}

.layout-rtl.layout-wrapper .layout-main .layout-footer .footer-text-right {

    margin-top: 10px;
}

.layout-rtl.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.profile-item > a .profile-name {
    float: none;
}

body {
    font-family: Cairo;

}

.sidebar-menu-items {
    font-size: 12px;
}

.label-view {
    color: #B08D2F;
    font-size: medium;
    font-weight: 500;
    padding-right: 15px;
    padding-left: 15px;

}


.stepwizard-step p {
    margin-top: 10px;

}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.step-element {
    color: #fff;
    background-color: #B08D2F;
    border-color: #B08D2F;
}

.New {
    color: #fff;
    background-color: #b08d2f;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;
}

.Approved {
    color: #fff;
    background-color: #009688;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;
}

.Rejected {
    color: #fff;
    background-color: #d10000b3;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;
}


.Canceled {
    color: #fff;
    background-color: #d10000b3;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;
}

.Waiting-yaqen {
    color: #fff;
    background-color: #7c8483;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;
    color: #fff;
    background-color: #7c8483;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;
}

.WaitingSyar {
    color: #fff;
    background-color: #7c8483;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;

    background-color: #7c8483;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;

}

.Canceled {
    color: #fff;
    background-color: rgba(209, 203, 35, 0.7);
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;

}


.WaitingTransportationCompany {
    color: #fff;
    background-color: #7c8483;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;
}

.WaitingForSendClaim {
    color: #fff;
    background-color: #7c8483;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;
}

.UnderProcessing {
    color: #fff;
    background-color: #7c8483;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;
}

.WaitingForNAQABA {
    color: #fff;
    background-color: #7c8483;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;

    background-color: #7c8483;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;
}


.Wait-ex-Co {
    color: #fff;
    background-color: #7c8483;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;

}

.ui-selectonemenu {
    width: 100%;
}

.button, input, optgroup, select, textarea {
    color: black !important;
    font: inherit;
    margin: 0;
}


body .ui-datatable tbody tr.ui-state-highlight┬á {
    background-color: #eeeeee !important;
    color: #b08d2f !important;
}

body .ui-datatable tbody tr.ui-datatable-even.ui-state-highlight {
    background-color: #eeeeee !important;
    color: #b08d2f !important;
}

body .ui-datatable tbody tr.ui-datatable-odd.ui-state-highlight {
    background-color: #eeeeee !important;
    color: #b08d2f !important;
}

body .ui-datatable thead th.ui-state-active, body .ui-datatable thead th.ui-state-highlight {
    background-color: #eeeeee !important;
    color: #b08d2f !important;;
    border-top-color: #d8d8d8 !important;
}

/*.ui-state-focus{*/
/*color: #b08d2f !important;*/

/*}*/
/*body .ui-state-active, body .ui-state-highlight {*/
body .ui-state-active {
    background-color: #979d9c !important;
}

.centerText {
    text-align: center;

}

.ct-chart .ct-series.ct-series-b .ct-area, .ct-chart .ct-series.ct-series-b .ct-slice-pie:not(.ct-donut) {
    fill: #b08d2fba !important;
}

.ct-chart .ct-series.ct-series-c .ct-area, .ct-chart .ct-series.ct-series-c .ct-slice-pie:not(.ct-donut) {
    fill: #78caf1;
}

.ct-chart .ct-series.ct-series-a .ct-area, .ct-chart .ct-series.ct-series-a .ct-slice-pie:not(.ct-donut) {
    fill: #7d8584 !important;
}

.ct-label {
    fill: rgba(0, 0, 0, .4);
    color: rgba(0, 0, 0, .4);
    font-size: 1.75rem !important;
    line-height: 1 !important;
    font-weight: bolder !important;
}

.layout-wrapper .layout-sidebar .sidebar-logo {
    height: 93px;
}

.layout-wrapper .layout-sidebar .sidebar-logo img {
    height: 60px;
}

body .ui-messages .ui-messages-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.tableau-homepage-size {
    height: calc(100vh - 105px);
}


body .ui-fileupload .ui-fileupload-buttonbar .ui-button {
    background-color: #ccc;
    color: black;
    margin-right: 6px;
}

body .ui-fileupload .ui-fileupload-buttonbar .ui-button.ui-state-hover {
    background-color: #ccc;
}

.lable-value {
    /* color: #fff; */
    /* background-color: #d7b377; */
    display: inline-block;
    margin-bottom: 0;
    /*font-weight: 400;*/
    /* text-align: center; */
    vertical-align: middle;
    /* cursor: pointer; */
    /* background-image: none; */
    border: 1px solid #d7b377;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-weight: 600;
    /* width: 332px; */
    box-sizing: border-box;
}

body .ui-messages .ui-messages-info {
    background-color: #009688b8 !important;
    border-color: #009688f5 !important;
    color: #ffffff !important;
}

body .ui-paginator .ui-paginator-pages a {
    min-width: 24px;
    width: auto;
}

.layout-wrapper .layout-sidebar .layout-menu li > a > .menuitem-text {
    word-break: normal;
}


/*//icon*/
.dashboard .overview-box.overview-box-1 .overview-box-content .overview-box-icon {
    background-color: #d7b377
}

/*// header*/
.dashboard .overview-box.overview-box-1 .overview-box-header {
    background-color: #d7b377;
}

/*//body*/
.dashboard .overview-box.overview-box-1 .overview-box-content {
    background-color: #7c8483;
}


body .ui-tabs .ui-tabs-nav > li.ui-state-active {
    background-color: #ffffff !important;
    border-style: solid;
}


.printCardButtonFormAr {
    position: absolute;
    top: 194px;
    right: 43%;
}

.printCardButtonFormEn {
    position: absolute;
    top: 194px;
    left: 43%;
}

.nonActiveRaw {
    background-color: #a9a9a9c9 !important;
}


.bold-font {
    font-weight: bold;
}

.borderless {
    border-width: 0;
}

span.ui-inputnumber.md-inputwrapper-focus + label {
    top: -20px;
    font-size: 12px;
    color: #d7b377;
}

.hint {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b
}

.inp_err {
    background-color: #e62a107d
}

/*!*@import url('https://fonts.googleapis.com/css?family=Numans');*!*/
/*@font-face {*/
    /*font-family: 'Numans';*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*src: local('Numans'), local('Numans-Regular'), url(https://fonts.gstatic.com/s/numans/v8/SlGRmQmGupYAfH84ZhIh.woff2) format('woff2');*/
    /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/


html,body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}
