<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li>
            <p:link>#{localeResources['sidebar.settings']} / #{localeResources['monitor.group.settings']}</p:link>
        </li>
    </ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <h3>#{localeResources['monitor.group.settings']}</h3>
                <p:messages closable="true" globalOnly="true"/>

                <h:form id="addGroup" prependId="false" rendered="#{request.isUserInRole('App Monitor Settings')}">
                    <div class="tealcard card-w-title">

                        <p:panel header="#{localeResources['add.new']} #{localeResources['monitor.group']}">

                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="grpName" style="width: 100%"
                                                 value="#{monitorSettingsController.newGroup.grpName}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true" maxlength="50"/>
                                    <label>#{localeResources['monitor.group.name']}</label>
                                    <p:message for="grpName" display="text"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu id="sysList" filter="true" filterMatchMode="contains"
                                                     value="#{monitorSettingsController.newGroup.grpSysId}"
                                                     required="true"
                                                     requiredMessage="#{localeResources['system.input.required']}">
                                        <f:selectItem itemLabel="" itemValue=""/>
                                        <f:selectItems value="#{monitorSettingsController.systemsList}" var="sysLists"
                                                       itemLabel="#{sysLists.sysName}" itemValue="#{sysLists.sysId}"/>
                                    </p:selectOneMenu>
                                    <label>#{localeResources['monitor.group.related.system']} </label>
                                    <p:message for="sysList" display="text"/>
                                </h:panelGroup>

                            </p:panelGrid>

                            <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
                                <p:commandButton value="#{localeResources['System.action.Save']}"
                                                 ajax="false"
                                                 action="#{monitorSettingsController.addGroup()}"
                                                 styleClass="teal-btn"/>

                                <p:spacer width="10"/>

                                <p:commandButton value="#{localeResources['system.button.cancel']}"
                                                 ajax="false" immediate="true"
                                                 action="#{monitorSettingsController.cancel('GroupsSettings')}"
                                                 styleClass="teal-btn"/>
                            </div>
                            <br/>
                            <br/>
                        </p:panel>

                        <br/><p:fragment/>


                        <p:dataTable value="#{monitorSettingsController.groupsList}" var="grp" lazy="false"
                                     sortBy="#{grp.grpId}"
                                     currentPageReportTemplate="#{localeResources['General.Pagination.totalOfRows']} : {totalRecords}    #{localeResources['General.pagination.showing']} {currentPage} #{localeResources['General.pagination.of']} {totalPages} #{localeResources['General.pagination.pages']}"
                                     emptyMessage="#{localeResources['System.tables.noData']}" rows="10"
                                     id="groupTable">


                            <p:column headerText="#{localeResources['id']}" filterMatchMode="contains"
                                      filterBy="#{grp.grpId}" sortBy="#{grp.grpId}">
                                <h:outputText value="#{grp.grpId}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['monitor.group.name']}" filterMatchMode="contains"
                                      filterBy="#{grp.grpName}" sortBy="#{grp.grpName}">
                                <h:outputText value="#{grp.grpName}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['monitor.group.related.system']}"
                                      filterMatchMode="contains" filterBy="#{grp.grpSysId}" sortBy="#{grp.grpSysId}">
                                <h:outputText value="#{grp.grpSysId} - #{grp.system.sysName}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['action.by']}" filterMatchMode="contains"
                                      filterBy="#{grp.changeUsername}" sortBy="#{grp.changeUsername}">
                                <h:outputText value="#{grp.changeUsername}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['status']}" filterMatchMode="contains"
                                      filterBy="#{grp.grpState}" sortBy="#{grp.grpState}">
                                <h:outputText
                                        value="#{grp.grpState eq 0 ? localeResources['system.generic.active']:localeResources['system.generic.deactive']}"
                                        styleClass="#{grp.grpState eq 0 ? 'Approved':'Rejected'}"/>
                            </p:column>


                            <p:column>
                                <p:menuButton value="#{localeResources['system.generic.actions']}">
                                    <p:menuitem value="#{localeResources['system.generic.actions.edit']}"
                                                immediate="true" ajax="false"
                                                action="#{monitorSettingsController.editGroup(grp)}"
                                                icon="ui-icon-edit"/>

                                    <p:menuitem
                                            value="#{grp.grpState eq 0? localeResources['system.generic.Deactivate'] : localeResources['system.generic.Activate']}"
                                            immediate="true" ajax="false"
                                            action="#{monitorSettingsController.changeGroupState(grp)}"
                                            icon="#{grp.grpState eq 0? 'ui-icon-close':'ui-icon-check'}"/>
                                </p:menuButton>
                            </p:column>


                        </p:dataTable>

                    </div>
                </h:form>

            </div>
        </div>
    </ui:define>
</ui:composition>