<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li>
            <p:link>#{localeResources['sidebar.settings']} / #{localeResources['monitor.kpi.settings']}</p:link>
        </li>
    </ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <h3>#{localeResources['monitor.kpi.settings']}</h3>
                <p:messages closable="true" globalOnly="true"/>

                <h:form id="addKpi" prependId="false" rendered="#{request.isUserInRole('App Monitor Settings')}">
                    <div class="tealcard card-w-title">

                        <p:panel header="#{localeResources['add.new']} #{localeResources['monitor.kpi']}">

                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="kpiName" style="width: 100%"
                                                 value="#{monitorSettingsController.newKpi.kpiName}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true" maxlength="50"/>
                                    <label>#{localeResources['monitor.kpi.name']}</label>
                                    <p:message for="kpiName" display="text"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu id="grpList" filter="true" filterMatchMode="contains"
                                                     value="#{monitorSettingsController.newKpi.kpiGrpId}"
                                                     required="true"
                                                     requiredMessage="#{localeResources['system.input.required']}">
                                        <f:selectItem itemLabel="" itemValue=""/>
                                        <f:selectItems value="#{monitorSettingsController.groupsList}" var="grpLists"
                                                       itemLabel="#{grpLists.system.sysName} - #{grpLists.grpName}"
                                                       itemValue="#{grpLists.grpId}"/>
                                    </p:selectOneMenu>
                                    <label>#{localeResources['monitor.kpi.related.group']} </label>
                                    <p:message for="grpList" display="text"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu id="kpiTyeps"
                                                     value="#{monitorSettingsController.newKpi.kpiTypeId}"
                                                     required="true"
                                                     requiredMessage="#{localeResources['system.input.required']}">
                                        <f:selectItem itemLabel="" itemValue=""/>
                                        <f:selectItems value="#{monitorSettingsController.kpiTypes}" var="kpiTypesVar"
                                                       itemLabel="#{kpiTypesVar.kpiTypeName}"
                                                       itemValue="#{kpiTypesVar.kpiTypeId}"/>
                                    </p:selectOneMenu>
                                    <label>#{localeResources['monitor.kpi.type']} </label>
                                    <p:message for="kpiTyeps" display="text"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="refreshTime" style="width: 100%"
                                                 value="#{monitorSettingsController.newKpi.kpiRefreshTimeMins}"
                                                 onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true" maxlength="4"/>
                                    <label>#{localeResources['monitor.kpi.refresh.min']}</label>
                                    <p:message for="refreshTime" display="text"/>
                                </h:panelGroup>

                            </p:panelGrid>

                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="kpiCheckQuery" style="width: 100%"
                                                 value="#{monitorSettingsController.newKpi.kpiCheckQuery}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true"/>
                                    <label>#{localeResources['monitor.kpi.check.query']}</label>
                                    <p:message for="kpiCheckQuery" display="text"/>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="kpiResultQuery" style="width: 100%"
                                                 value="#{monitorSettingsController.newKpi.kpiResultQuery}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true"/>
                                    <label>#{localeResources['monitor.kpi.result.query']}</label>
                                    <p:message for="kpiResultQuery" display="text"/>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="columnsTemplate" style="width: 100%"
                                                 value="#{monitorSettingsController.newKpi.columnsTemplate}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true"/>
                                    <label>#{localeResources['monitor.kpi.columns.template']}</label>
                                    <p:message for="columnsTemplate" display="text"/>
                                </h:panelGroup>
                            </p:panelGrid>

                            <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
                                <p:commandButton value="#{localeResources['System.action.Save']}"
                                                 ajax="false"
                                                 action="#{monitorSettingsController.addKpi()}"
                                                 styleClass="teal-btn"/>

                                <p:spacer width="10"/>

                                <p:commandButton value="#{localeResources['system.button.cancel']}"
                                                 ajax="false" immediate="true"
                                                 action="#{monitorSettingsController.cancel('KpisSettings')}"
                                                 styleClass="teal-btn"/>
                            </div>
                            <br/>
                            <br/>
                        </p:panel>

                        <br/><p:fragment/>


                        <p:dataTable value="#{monitorSettingsController.kpisList}" var="kpi" lazy="false"
                                     sortBy="#{kpi.kpiId}"
                                     currentPageReportTemplate="#{localeResources['General.Pagination.totalOfRows']} : {totalRecords}    #{localeResources['General.pagination.showing']} {currentPage} #{localeResources['General.pagination.of']} {totalPages} #{localeResources['General.pagination.pages']}"
                                     emptyMessage="#{localeResources['System.tables.noData']}" rows="10" id="kpiTable">


                            <p:column headerText="#{localeResources['id']}" filterMatchMode="contains"
                                      filterBy="#{kpi.kpiId}" sortBy="#{kpi.kpiId}">
                                <h:outputText value="#{kpi.kpiId}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['monitor.kpi.name']}" filterMatchMode="contains"
                                      filterBy="#{kpi.kpiName}" sortBy="#{kpi.kpiName}">
                                <h:outputText value="#{kpi.kpiName}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['monitor.kpi.related.group']}"
                                      filterMatchMode="contains" filterBy="#{kpi.kpiGrpId}" sortBy="#{kpi.kpiGrpId}">
                                <h:outputText value="#{kpi.kpiGrpId} - #{kpi.group.grpName}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['monitor.kpi.type']}" filterMatchMode="contains"
                                      filterBy="#{kpi.kpiTypeId}" sortBy="#{kpi.kpiTypeId}">
                                <h:outputText value="#{kpi.kpiTypeId} - #{kpi.kpiType.kpiTypeName}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['action.by']}" filterMatchMode="contains"
                                      filterBy="#{kpi.changeUsername}" sortBy="#{kpi.changeUsername}">
                                <h:outputText value="#{kpi.changeUsername}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['status']}" filterMatchMode="contains"
                                      filterBy="#{kpi.kpiState}" sortBy="#{kpi.kpiState}">
                                <h:outputText
                                        value="#{kpi.kpiState eq 0 ? localeResources['system.generic.active']:localeResources['system.generic.deactive']}"
                                        styleClass="#{kpi.kpiState eq 0 ? 'Approved':'Rejected'}"/>
                            </p:column>


                            <p:column>
                                <p:menuButton value="#{localeResources['system.generic.actions']}">
                                    <p:menuitem value="#{localeResources['system.generic.actions.edit']}"
                                                immediate="true" ajax="false"
                                                action="#{monitorSettingsController.editKpi(kpi)}"
                                                icon="ui-icon-edit"/>

                                    <p:menuitem
                                            value="#{kpi.kpiState eq 0? localeResources['system.generic.Deactivate'] : localeResources['system.generic.Activate']}"
                                            immediate="true" ajax="false"
                                            action="#{monitorSettingsController.changeKpiState(kpi)}"
                                            icon="#{kpi.kpiState eq 0? 'ui-icon-close':'ui-icon-check'}"/>
                                </p:menuButton>
                            </p:column>


                        </p:dataTable>

                    </div>
                </h:form>


            </div>
        </div>
    </ui:define>
</ui:composition>