<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li>
            <p:link>#{localeResources['sidebar.settings']} / #{localeResources['monitor.system.settings']}</p:link>
        </li>
    </ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <h3>#{localeResources['monitor.system.settings']}</h3>
                <p:messages closable="true" globalOnly="true"/>

                <h:form id="addSystem" prependId="false" rendered="#{request.isUserInRole('App Monitor Settings')}">
                    <div class="tealcard card-w-title">

                        <p:panel header="#{localeResources['add.new']} #{localeResources['monitor.system']}">

                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="sysName" style="width: 100%"
                                                 value="#{monitorSettingsController.newSystem.sysName}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true" maxlength="50"/>
                                    <label>#{localeResources['monitor.system.name']}</label>
                                    <p:message for="sysName" display="text"/>
                                </h:panelGroup>

                            </p:panelGrid>

                            <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
                                <p:commandButton value="#{localeResources['System.action.Save']}"
                                                 ajax="false" update="@form"
                                                 action="#{monitorSettingsController.addSystem()}"
                                                 styleClass="teal-btn"/>

                                <p:spacer width="10"/>

                                <p:commandButton value="#{localeResources['system.button.cancel']}"
                                                 ajax="false" immediate="true"
                                                 action="#{monitorSettingsController.cancel('SystemSettings')}"
                                                 styleClass="teal-btn"/>
                            </div>
                            <br/>
                            <br/>
                        </p:panel>

                        <br/><p:fragment/>

                        <p:dataTable value="#{monitorSettingsController.systemsList}" var="sys" lazy="false"
                                     sortBy="#{sys.sysId}"
                                     currentPageReportTemplate="#{localeResources['General.Pagination.totalOfRows']} : {totalRecords}    #{localeResources['General.pagination.showing']} {currentPage} #{localeResources['General.pagination.of']} {totalPages} #{localeResources['General.pagination.pages']}"
                                     emptyMessage="#{localeResources['System.tables.noData']}" rows="10"
                                     id="systemsList">

                            <p:column headerText="#{localeResources['id']}" filterMatchMode="contains"
                                      filterBy="#{sys.sysId}" sortBy="#{sys.sysId}">
                                <h:outputText value="#{sys.sysId}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['monitor.system.name']}" filterMatchMode="contains"
                                      filterBy="#{sys.sysName}" sortBy="#{sys.sysName}">
                                <h:outputText value="#{sys.sysName}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['action.by']}" filterMatchMode="contains"
                                      filterBy="#{sys.changeUsername}" sortBy="#{sys.changeUsername}">
                                <h:outputText value="#{sys.changeUsername}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['status']}" filterMatchMode="contains"
                                      filterBy="#{sys.sysState}" sortBy="#{sys.sysState}">
                                <h:outputText
                                        value="#{sys.sysState eq 0 ? localeResources['system.generic.active']:localeResources['system.generic.deactive']}"
                                        styleClass="#{sys.sysState eq 0 ? 'Approved':'Rejected'}"/>
                            </p:column>


                            <p:column>
                                <p:menuButton value="#{localeResources['system.generic.actions']}">
                                    <p:menuitem value="#{localeResources['system.generic.actions.edit']}"
                                                immediate="true" ajax="false"
                                                action="#{monitorSettingsController.editSystem(sys)}"
                                                icon="ui-icon-edit"/>

                                    <p:menuitem
                                            value="#{sys.sysState eq 0? localeResources['system.generic.Deactivate'] : localeResources['system.generic.Activate']}"
                                            immediate="true" ajax="false"
                                            action="#{monitorSettingsController.changeSystemState(sys)}"
                                            icon="#{sys.sysState eq 0? 'ui-icon-close':'ui-icon-check'}"/>

                                </p:menuButton>
                            </p:column>


                        </p:dataTable>
                    </div>
                </h:form>

            </div>
        </div>
    </ui:define>
</ui:composition>