<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li>
            <p:link>#{localeResources['um.user.management']} / #{localeResources['um.users']} / #{localeResources['user.perms']}</p:link>
        </li>
    </ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <h3>#{localeResources['user.perms']}</h3>
                <p:messages closable="true" globalOnly="true"/>

                <h:form id="addSystem" prependId="false" rendered="#{request.isUserInRole('Add Clear Permissions')}">

                    <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
                        <p:commandButton value="#{localeResources['back']}"
                                         ajax="false" immediate="true" icon="ui-icon-undo"
                                         action="#{rolesPermController.cancel('Users')}"
                                         styleClass="teal-btn"/>
                    </div>
                    <br/>
                    <br/>

                    <div class="tealcard card-w-title">

                        <p:panel header="#{localeResources['user.info']}">

                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:outputText styleClass="label-view col-md-7" style="width: 100%" value="#{localeResources['user.name.ar']}"/>
                                <h:outputText styleClass="lable-value" value="#{rolesPermController.newUser.uNameAr}"/>

                                <h:outputText styleClass="label-view col-md-7" style="width: 100%" value="#{localeResources['user.name.en']}"/>
                                <h:outputText styleClass="lable-value" value="#{rolesPermController.newUser.uNameLa}"/>

                            </p:panelGrid>

                            <br/>
                        </p:panel>

                        <br/><p:fragment/>

                        <p:dataTable value="#{rolesPermController.permsList}" var="perm" lazy="false"
                                     sortBy="#{perm.id}"
                                     currentPageReportTemplate="#{localeResources['General.Pagination.totalOfRows']} : {totalRecords}    #{localeResources['General.pagination.showing']} {currentPage} #{localeResources['General.pagination.of']} {totalPages} #{localeResources['General.pagination.pages']}"
                                     emptyMessage="#{localeResources['System.tables.noData']}" rows="10"
                                     id="systemsList">

                            <p:column headerText="#{localeResources['id']}" filterMatchMode="contains"
                                      filterBy="#{perm.id}" sortBy="#{perm.id}">
                                <h:outputText value="#{perm.id}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['perm.name.ar']}" filterMatchMode="contains"
                                      filterBy="#{perm.pNameAr}" sortBy="#{perm.pNameAr}">
                                <h:outputText value="#{perm.pNameAr}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['perm.name.en']}" filterMatchMode="contains"
                                      filterBy="#{perm.pNameLa}" sortBy="#{perm.pNameLa}">
                                <h:outputText value="#{perm.pNameLa}"/>
                            </p:column>

                            <p:column>
                                <p:commandButton value="#{localeResources['remove.perm.from.user']}"
                                                 ajax="false" update="@form"
                                                 rendered="#{rolesPermController.checkUserPerm(perm.pId) and not rolesPermController.checkPermInRole(perm.pNameLa)}"
                                                 action="#{rolesPermController.deletePermFromUser(perm.pId)}"
                                                 styleClass="teal-btn red-btn"/>
                                <p:commandButton value="#{localeResources['add.perm.to.user']}"
                                                 ajax="false" update="@form"
                                                 rendered="#{not rolesPermController.checkUserPerm(perm.pId)  and not rolesPermController.checkPermInRole(perm.pNameLa)}"
                                                 action="#{rolesPermController.addPermToUser(perm.pId)}"
                                                 styleClass="teal-btn"/>
                                <h:outputText value="#{localeResources['prem.added.by.role.on.user']}" style="color: red"
                                              rendered="#{rolesPermController.checkPermInRole(perm.pNameLa)}"/>
                            </p:column>


                        </p:dataTable>
                    </div>
                </h:form>

            </div>
        </div>
    </ui:define>
</ui:composition>