<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li>
            <p:link>#{localeResources['um.user.management']} / #{localeResources['um.users']} / #{localeResources['user.roles']}</p:link>
        </li>
    </ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <h3>#{localeResources['user.roles']}</h3>
                <p:messages closable="true" globalOnly="true"/>

                <h:form id="addSystem" prependId="false" rendered="#{request.isUserInRole('Add Clear Permissions')}">

                    <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
                        <p:commandButton value="#{localeResources['back']}"
                                         ajax="false" immediate="true" icon="ui-icon-undo"
                                         action="#{rolesPermController.cancel('Users')}"
                                         styleClass="teal-btn"/>
                    </div>
                    <br/>
                    <br/>

                    <div class="tealcard card-w-title">

                        <p:panel header="#{localeResources['user.info']}">

                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:outputText styleClass="label-view col-md-7" style="width: 100%" value="#{localeResources['user.name.ar']}"/>
                                <h:outputText styleClass="lable-value" value="#{rolesPermController.newUser.uNameAr}"/>

                                <h:outputText styleClass="label-view col-md-7" style="width: 100%" value="#{localeResources['user.name.en']}"/>
                                <h:outputText styleClass="lable-value" value="#{rolesPermController.newUser.uNameLa}"/>

                            </p:panelGrid>

                            <br/>
                        </p:panel>

                        <br/><p:fragment/>

                        <p:dataTable value="#{rolesPermController.rolesList}" var="role" lazy="false"
                                     sortBy="#{perm.roleId}"
                                     currentPageReportTemplate="#{localeResources['General.Pagination.totalOfRows']} : {totalRecords}    #{localeResources['General.pagination.showing']} {currentPage} #{localeResources['General.pagination.of']} {totalPages} #{localeResources['General.pagination.pages']}"
                                     emptyMessage="#{localeResources['System.tables.noData']}" rows="10"
                                     id="systemsList">

                            <p:column headerText="#{localeResources['id']}" filterMatchMode="contains"
                                      filterBy="#{role.roleId}" sortBy="#{role.roleId}">
                                <h:outputText value="#{role.roleId}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['role.name.ar']}" filterMatchMode="contains"
                                      filterBy="#{role.roleNameAr}" sortBy="#{role.roleNameAr}">
                                <h:outputText value="#{role.roleNameAr}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['role.name.en']}" filterMatchMode="contains"
                                      filterBy="#{role.roleNameLa}" sortBy="#{role.roleNameLa}">
                                <h:outputText value="#{role.roleNameLa}"/>
                            </p:column>

                            <p:column>
                                <p:commandButton value="#{localeResources['remove.role.from.user']}"
                                                 ajax="false" update="@form"
                                                 rendered="#{rolesPermController.checkUserRole(role.roleId)}"
                                                 action="#{rolesPermController.deleteRoleFromUser(role.roleId)}"
                                                 styleClass="teal-btn red-btn"/>
                                <p:commandButton value="#{localeResources['add.role.to.user']}"
                                                 ajax="false" update="@form"
                                                 rendered="#{!rolesPermController.checkUserRole(role.roleId)}"
                                                 action="#{rolesPermController.addRoleToUser(role.roleId)}"
                                                 styleClass="teal-btn"/>
                            </p:column>


                        </p:dataTable>
                    </div>
                </h:form>

            </div>
        </div>
    </ui:define>
</ui:composition>