<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li>
            <p:link>#{localeResources['um.user.management']} / #{localeResources['um.perms']}</p:link>
        </li>
    </ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <h3>#{localeResources['um.perms']}</h3>
                <p:messages closable="true" globalOnly="true"/>

                <h:form id="addSystem" prependId="false" rendered="#{request.isUserInRole('Change Permissions Status')}">
                    <div class="tealcard card-w-title">

                        <f:event type="preRenderView" listener="#{rolesPermController.reloadPerms()}"/>

                        <p:dataTable value="#{rolesPermController.permsList}" var="sys" lazy="false"
                                     sortBy="#{sys.pId}"
                                     currentPageReportTemplate="#{localeResources['General.Pagination.totalOfRows']} : {totalRecords}    #{localeResources['General.pagination.showing']} {currentPage} #{localeResources['General.pagination.of']} {totalPages} #{localeResources['General.pagination.pages']}"
                                     emptyMessage="#{localeResources['System.tables.noData']}" rows="10"
                                     id="systemsList">

                            <p:column headerText="#{localeResources['id']}" filterMatchMode="contains"
                                      filterBy="#{sys.pId}" sortBy="#{sys.pId}">
                                <h:outputText value="#{sys.pId}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['perm.name.ar']}" filterMatchMode="contains"
                                      filterBy="#{sys.pNameAr}" sortBy="#{sys.pNameAr}">
                                <h:outputText value="#{sys.pNameAr}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['perm.name.en']}" filterMatchMode="contains"
                                      filterBy="#{sys.pNameLa}" sortBy="#{sys.pNameLa}">
                                <h:outputText value="#{sys.pNameLa}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['status']}" filterMatchMode="contains" filterBy="#{sys.pState}" sortBy="#{sys.pState}">
                                <h:outputText value="#{sys.pState eq 0 ? localeResources['system.generic.active']:localeResources['system.generic.deactive']}"
                                        styleClass="#{sys.pState eq 0 ? 'Approved':'Rejected'}"/>
                            </p:column>

                            <p:column>
                                <p:menuButton value="#{localeResources['system.generic.actions']}">

                                    <p:menuitem value="#{sys.pState eq 0? localeResources['system.generic.Deactivate'] : localeResources['system.generic.Activate']}"
                                                immediate="true" ajax="false"
                                                action="#{rolesPermController.changePermState(sys)}"
                                                icon="#{sys.pState eq 0? 'ui-icon-close':'ui-icon-check'}"/>

                                </p:menuButton>
                            </p:column>
                        </p:dataTable>
                    </div>
                </h:form>

            </div>
        </div>
    </ui:define>
</ui:composition>