<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li>
            <p:link>#{localeResources['um.user.management']} / #{localeResources['um.roles']}</p:link>
        </li>
    </ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <h3>#{localeResources['um.roles']}</h3>
                <p:messages closable="true" globalOnly="true"/>

                <h:form id="addSystem" prependId="false" rendered="#{request.isUserInRole('Add Edit Roles')}">
                    <div class="tealcard card-w-title">

                        <f:event type="preRenderView" listener="#{rolesPermController.reloadRoles()}"/>

                        <p:panel header="#{localeResources['add.new']} #{localeResources['um.roles']}">

                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="roleNameAr" style="width: 100%"
                                                 value="#{rolesPermController.newRole.roleNameAr}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true" maxlength="50"/>
                                    <label>#{localeResources['role.name.ar']}</label>
                                    <p:message for="roleNameAr" display="text"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="roleNameLa" style="width: 100%"
                                                 value="#{rolesPermController.newRole.roleNameLa}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true" maxlength="50"/>
                                    <label>#{localeResources['role.name.en']}</label>
                                    <p:message for="roleNameLa" display="text"/>
                                </h:panelGroup>

                            </p:panelGrid>

                            <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
                                <p:commandButton value="#{localeResources['System.action.Save']}"
                                                 ajax="false" update="@form"
                                                 action="#{rolesPermController.addRole()}"
                                                 styleClass="teal-btn"/>

                                <p:spacer width="10"/>

                                <p:commandButton value="#{localeResources['system.button.cancel']}"
                                                 ajax="false" immediate="true"
                                                 action="#{rolesPermController.cancel('Roles')}"
                                                 styleClass="teal-btn"/>
                            </div>
                            <br/>
                            <br/>
                        </p:panel>

                        <br/><p:fragment/>

                        <p:dataTable value="#{rolesPermController.rolesList}" var="sys" lazy="false"
                                     sortBy="#{sys.roleId}"
                                     currentPageReportTemplate="#{localeResources['General.Pagination.totalOfRows']} : {totalRecords}    #{localeResources['General.pagination.showing']} {currentPage} #{localeResources['General.pagination.of']} {totalPages} #{localeResources['General.pagination.pages']}"
                                     emptyMessage="#{localeResources['System.tables.noData']}" rows="10"
                                     id="systemsList">

                            <p:column headerText="#{localeResources['id']}" filterMatchMode="contains"
                                      filterBy="#{sys.roleId}" sortBy="#{sys.roleId}">
                                <h:outputText value="#{sys.roleId}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['role.name.ar']}" filterMatchMode="contains"
                                      filterBy="#{sys.roleNameAr}" sortBy="#{sys.roleNameAr}">
                                <h:outputText value="#{sys.roleNameAr}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['role.name.en']}" filterMatchMode="contains"
                                      filterBy="#{sys.roleNameLa}" sortBy="#{sys.roleNameLa}">
                                <h:outputText value="#{sys.roleNameLa}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['action.by']}" filterMatchMode="contains"
                                      filterBy="#{sys.changeUsername}" sortBy="#{sys.changeUsername}">
                                <h:outputText value="#{sys.changeUsername}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['status']}" filterMatchMode="contains"
                                      filterBy="#{sys.roleState}" sortBy="#{sys.roleState}">
                                <h:outputText
                                        value="#{sys.roleState eq 0 ? localeResources['system.generic.active']:localeResources['system.generic.deactive']}"
                                        styleClass="#{sys.roleState eq 0 ? 'Approved':'Rejected'}"/>
                            </p:column>

                            <p:column>
                                <p:menuButton value="#{localeResources['system.generic.actions']}">
                                    <p:menuitem value="#{localeResources['system.generic.actions.edit']}"
                                                immediate="true" ajax="false"
                                                action="#{rolesPermController.editRole(sys)}"
                                                icon="ui-icon-edit"/>

                                    <p:menuitem value="#{sys.roleState eq 0? localeResources['system.generic.Deactivate'] : localeResources['system.generic.Activate']}"
                                            immediate="true" ajax="false"
                                            action="#{rolesPermController.changeRoleState(sys)}"
                                            icon="#{sys.roleState eq 0? 'ui-icon-close':'ui-icon-check'}"/>

                                    <p:menuitem value="#{localeResources['role.perms']}"
                                                immediate="true" ajax="false"
                                                action="#{rolesPermController.rolePermissions(sys)}"
                                                icon="ui-icon-check-box"/>


                                </p:menuButton>
                            </p:column>
                        </p:dataTable>
                    </div>
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>