<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li>
            <p:link>#{localeResources['um.user.management']} / #{localeResources['um.users']}</p:link>
        </li>
    </ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <h3>#{localeResources['um.users']}</h3>
                <p:messages closable="true" globalOnly="true"/>

                <h:form id="addSystem" prependId="false" rendered="#{request.isUserInRole('Add Edit Users')}">
                    <f:event type="preRenderView" listener="#{userManagementController.reloadUsers()}"/>

                    <div class="tealcard card-w-title">

                        <p:panel header="#{localeResources['add.new']} #{localeResources['um.users']}">

                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="nameAr" style="width: 100%"
                                                 value="#{userManagementController.newUser.uNameAr}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true" maxlength="50"/>
                                    <label>#{localeResources['user.name.ar']}</label>
                                    <p:message for="nameAr" display="text"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="nameLa" style="width: 100%"
                                                 value="#{userManagementController.newUser.uNameLa}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true" maxlength="50"/>
                                    <label>#{localeResources['user.name.en']}</label>
                                    <p:message for="nameLa" display="text"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="uUsername" style="width: 100%"
                                                 value="#{userManagementController.newUser.uUsername}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true" maxlength="50"/>
                                    <label>#{localeResources['user.username']}</label>
                                    <p:message for="uUsername" display="text"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="uPhoneNumber" style="width: 100%"
                                                 onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                                 value="#{userManagementController.newUser.uPhoneNumber}"
                                                 requiredMessage="#{localeResources['system.input.required']}"
                                                 required="true" maxlength="10"/>
                                    <label>#{localeResources['user.phone']}</label>
                                    <p:message for="uPhoneNumber" display="text"/>
                                </h:panelGroup>

                            </p:panelGrid>

                            <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
                                <p:commandButton value="#{localeResources['System.action.Save']}"
                                                 ajax="false" update="@form"
                                                 action="#{userManagementController.addUser()}"
                                                 styleClass="teal-btn"/>

                                <p:spacer width="10"/>

                                <p:commandButton value="#{localeResources['system.button.cancel']}"
                                                 ajax="false" immediate="true"
                                                 action="#{userManagementController.cancel('Users')}"
                                                 styleClass="teal-btn"/>
                            </div>
                            <br/>
                            <br/>
                        </p:panel>

                        <br/><p:fragment/>

                        <p:dataTable value="#{userManagementController.userProfileList}" var="user" lazy="false"
                                     sortBy="#{user.uId}"
                                     currentPageReportTemplate="#{localeResources['General.Pagination.totalOfRows']} : {totalRecords}    #{localeResources['General.pagination.showing']} {currentPage} #{localeResources['General.pagination.of']} {totalPages} #{localeResources['General.pagination.pages']}"
                                     emptyMessage="#{localeResources['System.tables.noData']}" rows="10"
                                     id="systemsList">

                            <p:column headerText="#{localeResources['id']}" filterMatchMode="contains"
                                      filterBy="#{user.uId}" sortBy="#{user.uId}">
                                <h:outputText value="#{user.uId}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['user.name.ar']}" filterMatchMode="contains"
                                      filterBy="#{user.uNameAr}" sortBy="#{user.uNameAr}">
                                <h:outputText value="#{user.uNameAr}"/>
                            </p:column>

                            <p:column headerText="#{localeResources['user.name.en']}" filterMatchMode="contains"
                                      filterBy="#{user.uNameLa}" sortBy="#{user.uNameLa}">
                                <h:outputText value="#{user.uNameLa}"/>
                            </p:column>


                            <p:column headerText="#{localeResources['user.username']}" filterMatchMode="contains"
                                      filterBy="#{user.uUsername}" sortBy="#{user.uUsername}">
                                <h:outputText value="#{user.uUsername}"/>
                            </p:column>


                            <p:column headerText="#{localeResources['user.phone']}" filterMatchMode="contains"
                                      filterBy="#{user.uPhoneNumber}" sortBy="#{user.uPhoneNumber}">
                                <h:outputText value="#{user.uPhoneNumber}"/>
                            </p:column>



                            <p:column headerText="#{localeResources['status']}" filterMatchMode="contains"
                                      filterBy="#{user.uState}" sortBy="#{user.uState}">
                                <h:outputText
                                        value="#{user.uState eq 0 ? localeResources['system.generic.active']:localeResources['system.generic.deactive']}"
                                        styleClass="#{user.uState eq 0 ? 'Approved':'Rejected'}"/>
                            </p:column>


                            <p:column>
                                <p:menuButton value="#{localeResources['system.generic.actions']}">
                                    <p:menuitem value="#{localeResources['system.generic.actions.edit']}"
                                                immediate="true" ajax="false"
                                                action="#{userManagementController.editUser(user)}"
                                                icon="ui-icon-edit"/>

                                    <p:menuitem
                                            value="#{user.uState eq 0? localeResources['system.generic.Deactivate'] : localeResources['system.generic.Activate']}"
                                            immediate="true" ajax="false"
                                            action="#{userManagementController.changeUserState(user)}"
                                            icon="#{user.uState eq 0? 'ui-icon-close':'ui-icon-check'}"/>

                                    <p:menuitem value="#{localeResources['user.roles']}"
                                                immediate="true" ajax="false"
                                                action="#{rolesPermController.userRoles(user)}"
                                                icon="ui-icon-person-add"/>

                                    <p:menuitem value="#{localeResources['user.perms']}"
                                                immediate="true" ajax="false"
                                                action="#{rolesPermController.userPermissions(user)}"
                                                icon="ui-icon-check-box"/>

                                </p:menuButton>
                            </p:column>


                        </p:dataTable>
                    </div>
                </h:form>

            </div>
        </div>
    </ui:define>
</ui:composition>