<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li><p:link outcome="/home">#{localeResources['sidebar.monitor']} / #{localeResources['dashboard']}</p:link></li>
    </ui:define>
    <ui:define name="content">
        <h:form>
            <p:poll interval="10" listener="#{appMonitorController.reloadMonitorPage()}"/>
        </h:form>
        <h:form id="monitor" prependId="false" rendered="#{request.isUserInRole('View Dash Board')}">

        <h:form rendered="#{request.isUserInRole('Reset Monitor')}">
            <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
                <p:commandButton value="#{localeResources['monitor.refresh']}"
                                 ajax="false" update="monitor"
                                 action="#{appMonitorController.refreshMonitor()}"
                                 styleClass="teal-btn"/>
            </div>
        </h:form>

            <h3>#{localeResources['dashboard']}</h3>

        <p:repeat value="#{appMonitorController.systemsList}" var="currentSystem">
            <div class="tealcard card-w-title">
                <h3>#{currentSystem.sysName} - #{currentSystem.sysEventsCount ne null ? currentSystem.sysEventsCount:0} events</h3>

                <p:dataGrid value="#{currentSystem.groupsList}" var="currentGrp" columns="5" style="width: 100%" >

                    <p:panel header="#{currentGrp.grpName}" rendered="#{currentGrp.grpState eq 0}" style="text-align:center; width: 100%; background-color: #{empty currentGrp.grpStyle? 'green':currentGrp.grpStyle}">
                        <h:panelGrid columns="1" style="width:100%">
                            <p:outputLabel value="#{currentGrp.grpEventsCount}" style="color: white"/>
                            <p:ajax event="click" listener="#{appMonitorController.checkGroupEvents(currentGrp)}"/>
                        </h:panelGrid>
                    </p:panel>

                </p:dataGrid>
            </div>
        </p:repeat>

        </h:form>
    </ui:define>
</ui:composition>
