<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li><p:link outcome="/home">#{localeResources['sidebar.monitor']} / #{localeResources['kpi.list']} / #{localeResources['events']}</p:link></li>
    </ui:define>
    <ui:define name="content">
        <h:form prependId="false">
            <h3>#{localeResources['events']}</h3>

            <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
                <p:commandButton value="#{localeResources['back']}"
                                 ajax="false" immediate="true" icon="ui-icon-undo"
                                 action="#{appMonitorController.backToKpiList()}"
                                 styleClass="teal-btn"/>
            </div>
            <br/>
            <br/>

            <p:dataTable value="#{appMonitorController.resaults}" var="current"
                         currentPageReportTemplate="#{commonResources['General.Pagination.totalOfRows']} : {totalRecords}    #{commonResources['General.pagination.showing']} {currentPage} #{commonResources['General.pagination.of']} {totalPages} #{commonResources['General.pagination.pages']}"
                         rows="10" id="primetable" emptyMessage="#{localeResources['System.tables.noData']}">

                <p:columns value="#{appMonitorController.columns}" var="column" sortBy="#{current[column.property]}" filterBy="#{current[column.property]}">
                    <f:facet name="header">
                        <h:outputText value="#{column.header}" />
                    </f:facet>
                    <h:outputText value="#{current[column.property]}" />
                </p:columns>

            </p:dataTable>

        </h:form>
    </ui:define>
</ui:composition>