<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li><p:link outcome="/home">#{localeResources['sidebar.monitor']} / #{localeResources['dashboard']} / #{localeResources['kpi.list']}</p:link></li>
    </ui:define>
    <ui:define name="content">
        <h:form>
            <p:poll interval="20" listener="#{appMonitorController.reloadKpiPage()}"/>
        </h:form>
        <h:form rendered="#{request.isUserInRole('View Dash Board')}">

            <!--<f:event type="preRenderView" listener="#{appMonitorController.refreshDashboard()}"/>-->

            <h3>#{appMonitorController.currentGroup.system.sysName} - #{appMonitorController.currentGroup.grpName}</h3>

            <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
            <p:commandButton value="#{localeResources['back']}"
                             ajax="false" immediate="true" icon="ui-icon-undo"
                             action="#{appMonitorController.backToDashBoard()}"
                             styleClass="teal-btn"/>
            </div>
            <br/>
            <br/>
            <p:dataTable value="#{appMonitorController.kpisList}" var="current" lazy="false"
                         currentPageReportTemplate="#{commonResources['General.Pagination.totalOfRows']} : {totalRecords}    #{commonResources['General.pagination.showing']} {currentPage} #{commonResources['General.pagination.of']} {totalPages} #{commonResources['General.pagination.pages']}"
                         rows="10" id="primetable" emptyMessage="#{localeResources['System.tables.noData']}">

                <p:column headerText="#{localeResources['id']}" style="width: 5%">
                    <h:outputText value="#{current.kpiId}"/>
                </p:column>

                <p:column headerText="#{localeResources['monitor.kpi.name']}" style="width: 40%">
                    <h:outputText value="#{current.kpiName}"/>
                </p:column>

                <p:column headerText="#{localeResources['monitor.number.of.events']}">
                    <h:outputText value="#{current.kpiEventsCount}"/>
                </p:column>

                <p:column headerText="#{localeResources['monitor.kpi.type']}" filterBy="#{current.kpiType.kpiTypeName}" filterMatchMode="contains">
                    <f:facet name="filter">
                        <p:selectOneButton onchange="PF('primetable').filter()" styleClass="custom-filter">
                            <f:selectItem itemLabel="All"     itemValue="" />
                            <f:selectItem itemLabel="Error"   itemValue="Error" />
                            <f:selectItem itemLabel="Pending" itemValue="Pending" />
                        </p:selectOneButton>
                    </f:facet>
                    <h:outputText value="#{current.kpiType.kpiTypeName}" />
                </p:column>

                <p:column headerText="#{localeResources['monitor.assigned.to']}">
                    <h:outputText value="#{current.userProfile.uNameLa}"/>
                </p:column>

                <p:column>
                    <p:menuButton value="#{localeResources['system.generic.actions']}">
                        <p:menuitem value="#{localeResources['system.generic.details']}"
                                    immediate="true" ajax="false"
                                    action="#{appMonitorController.checkKpiDetails(current)}"
                                    icon="ui-icon-search"/>

                        <p:menuitem value="#{localeResources['monitor.assign.on.me']}"
                                    immediate="true" ajax="false" update="@form"
                                    action="#{appMonitorController.assignKpi(current)}"
                                    rendered="#{empty current.eventUserId}"
                                    icon="ui-icon-check"/>

                        <p:menuitem value="#{localeResources['monitor.unassign.from.me']}"
                                    immediate="true" ajax="false" update="@form"
                                    action="#{appMonitorController.assignKpi(current)}"
                                    rendered="#{not empty current.eventUserId and appMonitorController.checkCanUnassign(current)}"
                                    icon="ui-icon-clear"/>

                    </p:menuButton>
                </p:column>

            </p:dataTable>

        </h:form>
    </ui:define>
</ui:composition>