.ui-selectonemenu .ui-selectonemenu-trigger, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
     right: auto;
     left: 0;
 }
body .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
    right: auto;
    left: 8px;
}
.ui-selectonemenu-panel .ui-selectonemenu-list-item, .ui-selectonemenu .ui-selectonemenu-label , .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-label{
    text-align: right;
}
.ui-selectonemenu .ui-selectcheckboxmenu{
    padding-left: 2em;
    padding-right: 0;
}
.ui-panel .ui-panel-titlebar-icon {
    float: left;
}
body .ui-chkbox .ui-chkbox-box {
    width: 20px;
    height: 20px;
}
body .ui-icon {
    direction: rtl;
}
body .ui-fileupload .ui-fileupload-buttonbar .ui-button {
    background-color: #eeeeee;
    /* color: #ffffff; */
    margin-right: 6px;
}
.ui-datatable .ui-datatable-header {
    text-align: right;
}


.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item label{
    padding-right: 2em;
}

.ui-chkbox{
    margin: 0 1px 0 8px;
}
.ui-steps .ui-steps-item {
    float: right;
}
.label-view {
    float: left;
}

body .ui-radiobutton .ui-radiobutton-box .ui-icon-bullet {
    margin-left: -4px;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close {
    float: left;
}

body .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container .ui-icon {
    right: auto;
    left: 2px;
}

body .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
    margin: 0;
}
body .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container {
    margin-right: 20px;
}
body .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container .ui-inputfield {
    padding-right: 0;
}