/*  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  direction: ltr;
  !*.dow {
		border-top: 1px solid #ddd !important;
	}*!

}*/
.hijripicker-inline {
  width: 220px;
}
.hijripicker.hijripicker-rtl {
  direction: rtl;
}
.hijripicker.hijripicker-rtl table tr td span {
  float: right;
}
.hijripicker-dropdown {
  top: 0;
  left: 0;
}
.hijripicker-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
.hijripicker-dropdown:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-top: 0;
  position: absolute;
}
.hijripicker-dropdown.hijripicker-orient-left:before {
  left: 6px;
}
.hijripicker-dropdown.hijripicker-orient-left:after {
  left: 7px;
}
.hijripicker-dropdown.hijripicker-orient-right:before {
  right: 6px;
}
.hijripicker-dropdown.hijripicker-orient-right:after {
  right: 7px;
}
.hijripicker-dropdown.hijripicker-orient-top:before {
  top: -7px;
}
.hijripicker-dropdown.hijripicker-orient-top:after {
  top: -6px;
}
.hijripicker-dropdown.hijripicker-orient-bottom:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #999;
}
.hijripicker-dropdown.hijripicker-orient-bottom:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #ffffff;
}
.hijripicker > div {
  display: none;
}
.hijripicker.days div.hijripicker-days {
  display: block;
}
.hijripicker.months div.hijripicker-months {
  display: block;
}
.hijripicker.years div.hijripicker-years {
  display: block;
}
.hijripicker table {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hijripicker td,
.hijripicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
}
.table-striped .hijripicker table tr td,
.table-striped .hijripicker table tr th {
  background-color: transparent;
}
.hijripicker table tr td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.hijripicker-days table tr td.old,
.hijripicker-days table tr td.new {
  color: #999999;
}
.hijripicker table tr td.disabled,
.hijripicker table tr td.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
.hijripicker table tr td.today,
.hijripicker table tr td.today:hover,
.hijripicker table tr td.today.disabled,
.hijripicker table tr td.today.disabled:hover {
  background-color: #fde19a;
  background-image: -moz-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: -ms-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
  background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: -o-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: linear-gradient(top, #fdd49a, #fdf59a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
  border-color: #fdf59a #fdf59a #fbed50;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #000;
}
.hijripicker table tr td.today:hover,
.hijripicker table tr td.today:hover:hover,
.hijripicker table tr td.today.disabled:hover,
.hijripicker table tr td.today.disabled:hover:hover,
.hijripicker table tr td.today:active,
.hijripicker table tr td.today:hover:active,
.hijripicker table tr td.today.disabled:active,
.hijripicker table tr td.today.disabled:hover:active,
.hijripicker table tr td.today.active,
.hijripicker table tr td.today:hover.active,
.hijripicker table tr td.today.disabled.active,
.hijripicker table tr td.today.disabled:hover.active,
.hijripicker table tr td.today.disabled,
.hijripicker table tr td.today:hover.disabled,
.hijripicker table tr td.today.disabled.disabled,
.hijripicker table tr td.today.disabled:hover.disabled,
.hijripicker table tr td.today[disabled],
.hijripicker table tr td.today:hover[disabled],
.hijripicker table tr td.today.disabled[disabled],
.hijripicker table tr td.today.disabled:hover[disabled] {
  background-color: #fdf59a;
}
.hijripicker table tr td.today:active,
.hijripicker table tr td.today:hover:active,
.hijripicker table tr td.today.disabled:active,
.hijripicker table tr td.today.disabled:hover:active,
.hijripicker table tr td.today.active,
.hijripicker table tr td.today:hover.active,
.hijripicker table tr td.today.disabled.active,
.hijripicker table tr td.today.disabled:hover.active {
  background-color: #fbf069 \9;
}
.hijripicker table tr td.today:hover:hover {
  color: #000;
}
.hijripicker table tr td.today.active:hover {
  color: #fff;
}
.hijripicker table tr td.range,
.hijripicker table tr td.range:hover,
.hijripicker table tr td.range.disabled,
.hijripicker table tr td.range.disabled:hover {
  background: #eeeeee;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.hijripicker table tr td.range.today,
.hijripicker table tr td.range.today:hover,
.hijripicker table tr td.range.today.disabled,
.hijripicker table tr td.range.today.disabled:hover {
  background-color: #f3d17a;
  background-image: -moz-linear-gradient(top, #f3c17a, #f3e97a);
  background-image: -ms-linear-gradient(top, #f3c17a, #f3e97a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a), to(#f3e97a));
  background-image: -webkit-linear-gradient(top, #f3c17a, #f3e97a);
  background-image: -o-linear-gradient(top, #f3c17a, #f3e97a);
  background-image: linear-gradient(top, #f3c17a, #f3e97a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);
  border-color: #f3e97a #f3e97a #edde34;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.hijripicker table tr td.range.today:hover,
.hijripicker table tr td.range.today:hover:hover,
.hijripicker table tr td.range.today.disabled:hover,
.hijripicker table tr td.range.today.disabled:hover:hover,
.hijripicker table tr td.range.today:active,
.hijripicker table tr td.range.today:hover:active,
.hijripicker table tr td.range.today.disabled:active,
.hijripicker table tr td.range.today.disabled:hover:active,
.hijripicker table tr td.range.today.active,
.hijripicker table tr td.range.today:hover.active,
.hijripicker table tr td.range.today.disabled.active,
.hijripicker table tr td.range.today.disabled:hover.active,
.hijripicker table tr td.range.today.disabled,
.hijripicker table tr td.range.today:hover.disabled,
.hijripicker table tr td.range.today.disabled.disabled,
.hijripicker table tr td.range.today.disabled:hover.disabled,
.hijripicker table tr td.range.today[disabled],
.hijripicker table tr td.range.today:hover[disabled],
.hijripicker table tr td.range.today.disabled[disabled],
.hijripicker table tr td.range.today.disabled:hover[disabled] {
  background-color: #f3e97a;
}
.hijripicker table tr td.range.today:active,
.hijripicker table tr td.range.today:hover:active,
.hijripicker table tr td.range.today.disabled:active,
.hijripicker table tr td.range.today.disabled:hover:active,
.hijripicker table tr td.range.today.active,
.hijripicker table tr td.range.today:hover.active,
.hijripicker table tr td.range.today.disabled.active,
.hijripicker table tr td.range.today.disabled:hover.active {
  background-color: #efe24b \9;
}
.hijripicker table tr td.selected,
.hijripicker table tr td.selected:hover,
.hijripicker table tr td.selected.disabled,
.hijripicker table tr td.selected.disabled:hover {
  background-color: #9e9e9e;
  background-image: -moz-linear-gradient(top, #b3b3b3, #808080);
  background-image: -ms-linear-gradient(top, #b3b3b3, #808080);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(#808080));
  background-image: -webkit-linear-gradient(top, #b3b3b3, #808080);
  background-image: -o-linear-gradient(top, #b3b3b3, #808080);
  background-image: linear-gradient(top, #b3b3b3, #808080);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);
  border-color: #808080 #808080 #595959;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.hijripicker table tr td.selected:hover,
.hijripicker table tr td.selected:hover:hover,
.hijripicker table tr td.selected.disabled:hover,
.hijripicker table tr td.selected.disabled:hover:hover,
.hijripicker table tr td.selected:active,
.hijripicker table tr td.selected:hover:active,
.hijripicker table tr td.selected.disabled:active,
.hijripicker table tr td.selected.disabled:hover:active,
.hijripicker table tr td.selected.active,
.hijripicker table tr td.selected:hover.active,
.hijripicker table tr td.selected.disabled.active,
.hijripicker table tr td.selected.disabled:hover.active,
.hijripicker table tr td.selected.disabled,
.hijripicker table tr td.selected:hover.disabled,
.hijripicker table tr td.selected.disabled.disabled,
.hijripicker table tr td.selected.disabled:hover.disabled,
.hijripicker table tr td.selected[disabled],
.hijripicker table tr td.selected:hover[disabled],
.hijripicker table tr td.selected.disabled[disabled],
.hijripicker table tr td.selected.disabled:hover[disabled] {
  background-color: #808080;
}
.hijripicker table tr td.selected:active,
.hijripicker table tr td.selected:hover:active,
.hijripicker table tr td.selected.disabled:active,
.hijripicker table tr td.selected.disabled:hover:active,
.hijripicker table tr td.selected.active,
.hijripicker table tr td.selected:hover.active,
.hijripicker table tr td.selected.disabled.active,
.hijripicker table tr td.selected.disabled:hover.active {
  background-color: #666666 \9;
}
.hijripicker table tr td.active,
.hijripicker table tr td.active:hover,
.hijripicker table tr td.active.disabled,
.hijripicker table tr td.active.disabled:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.hijripicker table tr td.active:hover,
.hijripicker table tr td.active:hover:hover,
.hijripicker table tr td.active.disabled:hover,
.hijripicker table tr td.active.disabled:hover:hover,
.hijripicker table tr td.active:active,
.hijripicker table tr td.active:hover:active,
.hijripicker table tr td.active.disabled:active,
.hijripicker table tr td.active.disabled:hover:active,
.hijripicker table tr td.active.active,
.hijripicker table tr td.active:hover.active,
.hijripicker table tr td.active.disabled.active,
.hijripicker table tr td.active.disabled:hover.active,
.hijripicker table tr td.active.disabled,
.hijripicker table tr td.active:hover.disabled,
.hijripicker table tr td.active.disabled.disabled,
.hijripicker table tr td.active.disabled:hover.disabled,
.hijripicker table tr td.active[disabled],
.hijripicker table tr td.active:hover[disabled],
.hijripicker table tr td.active.disabled[disabled],
.hijripicker table tr td.active.disabled:hover[disabled] {
  background-color: #0044cc;
}
.hijripicker table tr td.active:active,
.hijripicker table tr td.active:hover:active,
.hijripicker table tr td.active.disabled:active,
.hijripicker table tr td.active.disabled:hover:active,
.hijripicker table tr td.active.active,
.hijripicker table tr td.active:hover.active,
.hijripicker table tr td.active.disabled.active,
.hijripicker table tr td.active.disabled:hover.active {
  background-color: #003399 \9;
}
.hijripicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.hijripicker table tr td span:hover {
  background: #eeeeee;
}
.hijripicker table tr td span.disabled,
.hijripicker table tr td span.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
.hijripicker table tr td span.active,
.hijripicker table tr td span.active:hover,
.hijripicker table tr td span.active.disabled,
.hijripicker table tr td span.active.disabled:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.hijripicker table tr td span.active:hover,
.hijripicker table tr td span.active:hover:hover,
.hijripicker table tr td span.active.disabled:hover,
.hijripicker table tr td span.active.disabled:hover:hover,
.hijripicker table tr td span.active:active,
.hijripicker table tr td span.active:hover:active,
.hijripicker table tr td span.active.disabled:active,
.hijripicker table tr td span.active.disabled:hover:active,
.hijripicker table tr td span.active.active,
.hijripicker table tr td span.active:hover.active,
.hijripicker table tr td span.active.disabled.active,
.hijripicker table tr td span.active.disabled:hover.active,
.hijripicker table tr td span.active.disabled,
.hijripicker table tr td span.active:hover.disabled,
.hijripicker table tr td span.active.disabled.disabled,
.hijripicker table tr td span.active.disabled:hover.disabled,
.hijripicker table tr td span.active[disabled],
.hijripicker table tr td span.active:hover[disabled],
.hijripicker table tr td span.active.disabled[disabled],
.hijripicker table tr td span.active.disabled:hover[disabled] {
  background-color: #0044cc;
}
.hijripicker table tr td span.active:active,
.hijripicker table tr td span.active:hover:active,
.hijripicker table tr td span.active.disabled:active,
.hijripicker table tr td span.active.disabled:hover:active,
.hijripicker table tr td span.active.active,
.hijripicker table tr td span.active:hover.active,
.hijripicker table tr td span.active.disabled.active,
.hijripicker table tr td span.active.disabled:hover.active {
  background-color: #003399 \9;
}
.hijripicker-days table tr td span.old,
.hijripicker-days table tr td span.new {
  color: #999999;
}
.hijripicker th.hijripicker-switch {
  width: 145px;
}
.hijripicker thead tr:first-child th,
.hijripicker tfoot tr th {
  cursor: pointer;
}
.hijripicker thead tr:first-child th:hover,
.hijripicker tfoot tr th:hover {
  background: #eeeeee;
}
.hijripicker .cw {
  font-size: 10px;
  width: 12px;
  padding: 0 2px 0 5px;
  vertical-align: middle;
}
.hijripicker thead tr:first-child th.cw {
  cursor: default;
  background-color: transparent;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.input-daterange input {
  text-align: center;
}
.input-daterange input:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-daterange input:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-daterange .add-on {
  display: inline-block;
  width: auto;
  min-width: 16px;
  height: 18px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  vertical-align: middle;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  margin-left: -5px;
  margin-right: -5px;
}
.hijripicker-days table tr td.old > a,
.hijripicker-days table tr td.new > a{
  color: #999999;
}
.hijripicker .table-condensed > thead > tr > th,
.hijripicker .table-condensed > tbody > tr > th,
.hijripicker .table-condensed > tfoot > tr > th,
.hijripicker .table-condensed > thead > tr > td,
.hijripicker .table-condensed > tbody > tr > td,
.hijripicker .table-condensed > tfoot > tr > td {
  padding: 0px !important;
}
.hijripicker .table-condensed > thead > tr > th > a,
.hijripicker .table-condensed > tbody > tr > th > a,
.hijripicker .table-condensed > tfoot > tr > th > a,
.hijripicker .table-condensed > thead > tr > td > a,
.hijripicker .table-condensed > tbody > tr > td > a,
.hijripicker .table-condensed > tfoot > tr > td > a {
  display: block;
  padding: 10px;
}