<ui:composition xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li><p:link outcome="/home">#{localeResources['change.password']}</p:link></li>
    </ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <h3>#{localeResources['change.password']}</h3>

                <h:form id="changePassForm" prependId="false">
                    <p:messages closable="true" globalOnly="true"/>
                    <div class="tealcard card-w-title">

                        <p:panel header="#{localeResources['change.password']}">
                                <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank">
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:password value="#{loginController.password}" id="oldpass" style="width: 25%"
                                                     requiredMessage="#{localeResources['system.input.required']}"
                                                     required="true">
                                        </p:password>
                                        <label>#{localeResources['old.pass']}</label>
                                        <p:message for="oldpass" display="text"/>
                                    </h:panelGroup>

                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:password value="#{loginController.newPassword}" id="newPass" style="width: 25%"
                                                    requiredMessage="#{localeResources['system.input.required']}"
                                                    required="true">
                                        </p:password>
                                        <label>#{localeResources['new.password']}</label>
                                        <p:message for="newPass" display="text"/>
                                    </h:panelGroup>

                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:password value="#{loginController.confirmPassword}" id="confirmPass" style="width: 25%"
                                                    requiredMessage="#{localeResources['system.input.required']}"
                                                    required="true">
                                        </p:password>
                                        <label>#{localeResources['confirm.password']}</label>
                                        <p:message for="confirmPass" display="text"/>
                                    </h:panelGroup>

                                </p:panelGrid>
                            </p:panel>
                            <div style="float:#{localeResources.lang eq 'ar' ? 'left':'right'}">
                                <p:commandButton value="#{localeResources['System.action.Save']}"
                                                 action="#{loginController.saveNewPassword()}" update="@form"
                                                 styleClass="teal-btn"/>


                            </div>
                            <br/>
                        </div>
                    </h:form>
                </div>
            </div>
    </ui:define>
</ui:composition>