<ui:composition xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li><p:link outcome="/empty">Empty</p:link></li>
    </ui:define>
    <ui:define name="content">

        <h:outputStylesheet>
            .dashboard .overview-box.overview-box-5 .overview-box-header,
            .dashboard .overview-box.overview-box-7 .overview-box-header,
            .dashboard .overview-box.overview-box-6 .overview-box-header {
                background-color: #F6F2E6; }
            .dashboard .overview-box.overview-box-5 .overview-box-content {
                background-color: #4d6a6d; }
            .dashboard .overview-box.overview-box-5 .overview-box-content .overview-box-icon {
                background-color: #4d6a6d; }
            .dashboard .overview-box.overview-box-6 .overview-box-content {
                background-color: #a0a083; }
            .dashboard .overview-box.overview-box-6 .overview-box-content .overview-box-icon {
                background-color: #a0a083; }
            .dashboard .overview-box.overview-box-7 .overview-box-content {
                background-color: #798478; }
            .dashboard .overview-box.overview-box-7 .overview-box-content .overview-box-icon {
                background-color: #798478; }
            .dashboard .task-box.task-box-4 .task-box-header, .dashboard .task-box.task-box-4 .task-box-footer .task-status {
                background-color: #B08D2F;
            }
        </h:outputStylesheet>

        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g dashboard">
                    <div class="ui-g-12 ui-lg-6">
                        <div class="task-box task-box-4">
                            <div class="task-box-header">
                                <i class="material-icons"></i>
                            </div>
                            <div class="task-box-content">
                                <h3>نظام التحكم والصلاحيات والتوريث</h3>
                                <p>نظام التحكم والصلاحيات والتوريث</p>
                            </div>
                            <div class="task-box-footer">
                                <span class="task-status">IN PROGRESS</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-6">
                        <div class="task-box task-box-4">
                            <div class="task-box-header">
                                <i class="material-icons"></i>
                            </div>
                            <div class="task-box-content">
                                <h3>أنظمة النقل</h3>
                                <p>أنظمة النقل</p>
                            </div>
                            <div class="task-box-footer">
                                <span class="task-status">ON HOLD</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="overview-box overview-box-7">
                            <div class="overview-box-header"></div>
                            <div class="overview-box-content">
                                <div class="overview-box-icon"><i class="material-icons">info</i></div>
                                <div class="overview-box-title">نظام الحج المعلوماتي</div>
                                <div class="overview-box-count">152</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="overview-box overview-box-7">
                            <div class="overview-box-header"></div>
                            <div class="overview-box-content">
                                <div class="overview-box-icon"><i class="material-icons">payment</i></div>
                                <div class="overview-box-title">الانظمة المالية</div>
                                <div class="overview-box-count">152</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="overview-box overview-box-7">
                            <div class="overview-box-header"></div>
                            <div class="overview-box-content">
                                <div class="overview-box-icon"><i class="material-icons">input</i></div>
                                <div class="overview-box-title">نظام إعادة الأجور</div>
                                <div class="overview-box-count">152</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="overview-box overview-box-7">
                            <div class="overview-box-header"></div>
                            <div class="overview-box-content">
                                <div class="overview-box-icon"><i class="material-icons">person_pin</i></div>
                                <div class="overview-box-title">نظام الموارد البشرية</div>
                                <div class="overview-box-count">152</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-4">
                        <div class="task-box task-box-4">
                            <div class="task-box-header">
                                <i class="material-icons"></i>
                            </div>
                            <div class="task-box-content">
                                <h3>نظام ادارة المستودع</h3>
                                <p>نظام ادارة المستودع</p>
                            </div>
                            <div class="task-box-footer">
                                <span class="task-status">WAITING</span>
                            </div>
                        </div>
                    </div>


                    <div class="ui-g-12 ui-lg-4">
                        <div class="task-box task-box-4">
                            <div class="task-box-header">
                                <i class="material-icons"></i>
                            </div>
                            <div class="task-box-content">
                                <h3>نظام الحج</h3>
                                <p>نظام الحج</p>
                            </div>
                            <div class="task-box-footer">
                                <span class="task-status">IN PROGRESS</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-4">
                        <div class="task-box task-box-4">
                            <div class="task-box-header">
                                <i class="material-icons"></i>
                            </div>
                            <div class="task-box-content">
                                <h3>نظام الاتصالات الإدارية</h3>
                                <p>نظام الاتصالات الإدارية</p>
                            </div>
                            <div class="task-box-footer">
                                <span class="task-status">ON HOLD</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="overview-box overview-box-6">
                            <div class="overview-box-header"></div>
                            <div class="overview-box-content">
                                <div class="overview-box-icon"><i class="material-icons">account_box</i></div>
                                <div class="overview-box-title">نظام السائقين</div>
                                <div class="overview-box-count">152</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="overview-box overview-box-6">
                            <div class="overview-box-header"></div>
                            <div class="overview-box-content">
                                <div class="overview-box-icon"><i class="material-icons">chrome_reader_mode</i></div>
                                <div class="overview-box-title">نظام العقود الخاصة</div>
                                <div class="overview-box-count">152</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="overview-box overview-box-6">
                            <div class="overview-box-header"></div>
                            <div class="overview-box-content">
                                <div class="overview-box-icon"><i class="material-icons">airplanemode_active</i></div>
                                <div class="overview-box-title">نظام مطار المدينة</div>
                                <div class="overview-box-count">152</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="overview-box overview-box-6">
                            <div class="overview-box-header"></div>
                            <div class="overview-box-content">
                                <div class="overview-box-icon"><i class="material-icons">bookmark_border</i></div>
                                <div class="overview-box-title">نظام مبيعات التذاكر</div>
                                <div class="overview-box-count">152</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-6">
                        <div class="task-box task-box-4">
                            <div class="task-box-header">
                                <i class="material-icons"></i>
                            </div>
                            <div class="task-box-content">
                                <h3>نظام إعادة الأجور</h3>
                                <p>نظام إعادة الأجور</p>
                            </div>
                            <div class="task-box-footer">
                                <span class="task-status">IN PROGRESS</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-6">
                        <div class="task-box task-box-4">
                            <div class="task-box-header">
                                <i class="material-icons"></i>
                            </div>
                            <div class="task-box-content">
                                <h3>نظام التوظيف الموسمي</h3>
                                <p>نظام التوظيف الموسمي</p>
                            </div>
                            <div class="task-box-footer">
                                <span class="task-status">ON HOLD</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="overview-box overview-box-5">
                            <div class="overview-box-header"></div>
                            <div class="overview-box-content">
                                <div class="overview-box-icon"><i class="material-icons">explore</i></div>
                                <div class="overview-box-title">نظام المشاعر</div>
                                <div class="overview-box-count">152</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="overview-box overview-box-5">
                            <div class="overview-box-header"></div>
                            <div class="overview-box-content">
                                <div class="overview-box-icon"><i class="material-icons">class</i></div>
                                <div class="overview-box-title">نظام التشغيل الموحد للمنافذ</div>
                                <div class="overview-box-count">152</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="overview-box overview-box-5">
                            <div class="overview-box-header"></div>
                            <div class="overview-box-content">
                                <div class="overview-box-icon"><i class="material-icons">people</i></div>
                                <div class="overview-box-title">نظام الحج</div>
                                <div class="overview-box-count">152</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="overview-box overview-box-5">
                            <div class="overview-box-header"></div>
                            <div class="overview-box-content">
                                <div class="overview-box-icon"><i class="material-icons">people_outline</i></div>
                                <div class="overview-box-title">نظام الحج</div>
                                <div class="overview-box-count">152</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="user-card card">
                            <div class="user-card-header"><img id="j_idt206" src="#{request.contextPath}/resources/uiLandingPage/img/core-img/curvegolden-1.png" alt="" width="100" />
                            </div>
                            <div class="user-card-content">
                                <button id="user-button" name="user-button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only secondary-btn" type="button"><span class="ui-button-icon-left ui-icon ui-c ui-icon-plus"></span><span class="ui-button-text ui-c">ui-button</span></button><script>try{F5_preScript(document)}catch(e){}</script><script id="user-button_s" type="text/javascript">PrimeFaces.cw("CommandButton","widget_user_button",{id:"user-button"});</script><script>try{F5_postScript(document);}catch(e){}</script>
                                <div id="j_idt209" class="ui-menu ui-menu-dynamic ui-widget ui-widget-content ui-corner-all ui-helper-clearfix ui-shadow" role="menu">
                                    <div tabindex="0" class="ui-helper-hidden-accessible"></div>
                                    <ul class="ui-menu-list ui-helper-reset">
                                        <li class="ui-menuitem ui-widget ui-corner-all" role="menuitem"><a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#"><span class="ui-menuitem-icon ui-icon ui-icon-check"></span><span class="ui-menuitem-text">Save</span></a></li>
                                        <li class="ui-menuitem ui-widget ui-corner-all" role="menuitem"><a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#"><span class="ui-menuitem-icon ui-icon ui-icon-refresh"></span><span class="ui-menuitem-text">Update</span></a></li>
                                        <li class="ui-menuitem ui-widget ui-corner-all" role="menuitem"><a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#"><span class="ui-menuitem-icon ui-icon ui-icon-close"></span><span class="ui-menuitem-text">Delete</span></a></li>
                                    </ul>
                                </div>

                                <div class="user-card-name">
                                    <span>Wendy Lorina</span>
                                </div>
                                <div class="user-detail">
                                    <ul>
                                        <li class="clearfix">
                                            <i class="fa fa-tasks fa-fw"></i>
                                            <span class="project-title">Tasks</span>
                                            <span class="project-detail">3 open</span>
                                            <div class="project-progressbar">
                                                <div class="project-progressbar-value" style="width: 50%"></div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <i class="fa fa-usd fa-fw"></i>
                                            <span class="project-title">Revenue</span>
                                            <span class="project-detail">+20%</span>
                                            <div class="project-progressbar">
                                                <div class="project-progressbar-value" style="width: 20%"></div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <i class="fa fa-credit-card fa-fw"></i>
                                            <span class="project-title">Payments</span>
                                            <span class="project-detail">24 new</span>
                                            <div class="project-progressbar">
                                                <div class="project-progressbar-value" style="width: 65%"></div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <i class="fa fa-users fa-fw"></i>
                                            <span class="project-title">Clients</span>
                                            <span class="project-detail">+80%</span>
                                            <div class="project-progressbar">
                                                <div class="project-progressbar-value" style="width: 80%"></div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <i class="fa fa-users fa-fw"></i>
                                            <span class="project-title">Turnover</span>
                                            <span class="project-detail">+40%</span>
                                            <div class="project-progressbar">
                                                <div class="project-progressbar-value" style="width: 40%"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="ui-g-12 ui-lg-12">



            </div>
        </div>

    </ui:define>

</ui:composition>