<ui:composition xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="WEB-INF/template.xhtml">
    <ui:define name="breadcrumb">
        <li><p:link outcome="/home">#{localeResources['dashboard']}</p:link></li>
    </ui:define>

    <ui:define name="content">
        <h:outputStylesheet>
            .dashboard .overview-box.overview-box-5 .overview-box-header,
            .dashboard .overview-box.overview-box-7 .overview-box-header,
            .dashboard .overview-box.overview-box-6 .overview-box-header {
                background-color: #F6F2E6;
            }

            .dashboard .overview-box.overview-box-5 .overview-box-content {
                background-color: #4d6a6d;
            }

            .dashboard .overview-box.overview-box-5 .overview-box-content .overview-box-icon {
                background-color: #4d6a6d;
            }

            .dashboard .overview-box.overview-box-6 .overview-box-content {
                background-color: #a0a083;
            }

            .dashboard .overview-box.overview-box-6 .overview-box-content .overview-box-icon {
                background-color: #a0a083;
            }

            .dashboard .overview-box.overview-box-7 .overview-box-content {
                background-color: #798478;
            }

            .dashboard .overview-box.overview-box-7 .overview-box-content .overview-box-icon {
                background-color: #798478;
            }

            .dashboard .task-box.task-box-4 .task-box-header, .dashboard .task-box.task-box-4 .task-box-footer .task-status {
                background-color: #d7b377;
            }
        </h:outputStylesheet>





<div class="tableau-homepage-size">

        <!--    <ui:include src="/Components/Richfaces/JPAColumns/PopupFilter/JPAGraphics.xhtml">
                <ui:param name="user" value="portal_user"></ui:param>
                <ui:param name="file_name" value="Book6/Story1"></ui:param>
                <ui:param name="tool_bar" value=""></ui:param>
                <ui:param name="user_para" value=""></ui:param>
                <ui:param name="width_para" value="100%"></ui:param>
                <ui:param name="height_para" value="100%"></ui:param>
            </ui:include>-->
</div>

    </ui:define>

</ui:composition>
