<!DOCTYPE html>
<html xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>

    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="resources/serenity-layout/css/common.css"/>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
    <link rel="shortcut icon" href="#{request.contextPath}/images/logo.ico"/>
</h:head>
<f:view locale="en">
    <h:body style="background-image: url('#{resource['serenity-layout:images/loginBackground.jpg']}')">
    <div class="container">

        <p:messages id="messages"/>

        <div class="d-flex justify-content-center h-100">
            <div class="card">

                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <p:graphicImage name="images/logo/logo.gif" library="serenity-layout" style="width: 50%"/>
                    </div>
                </div>

                <div class="card-body">
                    <h:form>
                        <br/>

                        <div class="input-group form-group">

                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-user"/></span></div>

                            <p:inputText autocomplete="off" id="j_username" name="j_username" value="#{loginController.username}"
                                         styleClass="form-control" style="background-color: white"
                                         placeholder="#{localeResources['login.username.label']}"
                                         required="true"
                                         requiredMessage="#{localeResources['login.username.required.label']}"/>
                        </div>

                        <div class="input-group form-group">

                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-key"/></span></div>

                            <p:password autocomplete="off" id="j_password" name="j_password" value="#{loginController.password}"
                                        styleClass="form-control" style="background-color: white"
                                        placeholder="#{localeResources['login.password.label']}"
                                        required="true" requiredMessage="#{localeResources['login.password.required.label']}"/>
                        </div>

                        <div class="form-group">
                            <h:commandButton action="#{loginController.login}"
                                             value="#{localeResources['login.button.label']}" update="@form"
                                             class="btn float-right login_btn"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>
    </div>
    </h:body>
</f:view>
</html>