<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <div class="layout-footer">
        <a href="/dashboard.xhtml"/>
        <span class="footer-text-right">
            <span class="ui-icon ui-icon-copyright"></span> 
            <span>#{localeResources['system.footer.label']}</span>
        </span>
    </div>
</ui:composition>