<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:pm="http://primefaces.org/serenity"
                xmlns:f="http://java.sun.com/jsf/core">

    <div class="layout-sidebar">
        <div class="sidebar-logo">
            <h:link outcome="/pages/Monitoring/DashBoard.xhtml">
                <p:graphicImage width="120"  name="images/logo/logo.gif" library="serenity-layout"/>
                <span class="app-name"></span>
            </h:link>
            <a href="#" class="sidebar-anchor" title="Toggle Menu"></a>
        </div>

        <div class="nano">
            <div class="nano-content sidebar-scroll-content">
                <div class="layout-menu-container sidebar-menu-items">
                    <f:event type="preRenderView" listener="#{menuHandler.renderSideBar()}"/>
                    <h:form>
                        <pm:menu id="mainMenu">

                            <p:submenu id="subMenu-Admin" label="#{localeResources['um.user.management']}" ajax="false" icon="account_circle">
                                <p:menuitem value="#{localeResources['um.users']}" ajax="false" action="/pages/UserManagement/Users.xhtml?faces-redirect=true"       rendered="#{request.isUserInRole('Add Edit Users')}"/>
                                <p:menuitem value="#{localeResources['um.roles']}" ajax="false" action="/pages/UserManagement/Roles.xhtml?faces-redirect=true"       rendered="#{request.isUserInRole('Add Edit Roles')}"/>
                                <p:menuitem value="#{localeResources['um.perms']}" ajax="false" action="/pages/UserManagement/Permissions.xhtml?faces-redirect=true" rendered="#{request.isUserInRole('Change Permissions Status')}"/>
                            </p:submenu>

                            <p:submenu id="subMenu-settings" label="#{localeResources['sidebar.settings']}" ajax="false" icon="settings">
                                <p:menuitem value="#{localeResources['monitor.system.settings']}" ajax="false" action="/pages/Settings/SystemSettings.xhtml?faces-redirect=true" rendered="#{request.isUserInRole('App Monitor Settings')}"/>
                                <p:menuitem value="#{localeResources['monitor.group.settings']}"  ajax="false" action="/pages/Settings/GroupsSettings.xhtml?faces-redirect=true" rendered="#{request.isUserInRole('App Monitor Settings')}"/>
                                <p:menuitem value="#{localeResources['monitor.kpi.settings']}"    ajax="false" action="/pages/Settings/KpisSettings.xhtml?faces-redirect=true"   rendered="#{request.isUserInRole('App Monitor Settings')}"/>
                            </p:submenu>

                            <p:submenu id="subMenu-dashboard" label="#{localeResources['sidebar.monitor']}" ajax="false" icon="airplay">
                                <p:menuitem value="#{localeResources['dashboard']}" ajax="false" action="/pages/Monitoring/DashBoard.xhtml?faces-redirect=true" rendered="#{request.isUserInRole('View Dash Board')}"/>
                            </p:submenu>

                        </pm:menu>
                    </h:form>
                </div>
            </div>
        </div>
    </div>

</ui:composition>
