<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      dir="ltr" lang="en">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta content="TIC Portal" name="description"/>
        <meta content="TIC" name="author"/>
        <link rel="shortcut icon" href="#{request.contextPath}/images/logo.ico"/>
    </f:facet>

    <title><ui:insert name="title">#{localeResources['title']}</ui:insert></title>

    <h:outputScript name="js/nanoscroller.js" library="serenity-layout"/>
    <h:outputScript name="js/ripple.js" library="serenity-layout"/>
    <h:outputScript name="js/layout.js" library="serenity-layout"/>
    <h:outputScript name="js/swipe.js" library="serenity-layout"/>


    <h:outputScript name="js/jquery.mask.en.js" library="common"/>

    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Changa" rel="stylesheet"/>
    <ui:insert name="head"/>
</h:head>

<f:view locale="en">
    <h:body style="font-family: Arial">
        <div class="layout-wrapper">

                <ui:include src="sidebar.xhtml"/>

            <div class="layout-main">
                <ui:include src="topbar.xhtml"/>

                <div class="layout-breadcrumb" style="    background-color:#eeeeee">
                    <ul>
                        <li><p:link outcome="/pages/Monitoring/DashBoard.xhtml"><i class="material-icons">&#xE88A;</i></p:link></li>
                        <li>/</li>
                        <ui:insert name="breadcrumb"/>
                    </ul>


                </div>

                <div class="layout-content">
                    <ui:insert name="content"/>
                </div>

                <!--<ui:include src="footer.xhtml"/>-->

                <div class="layout-main-mask"></div>
            </div>
        </div>

        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
            <f:facet name="start">
                <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"/>
            </f:facet>

            <f:facet name="complete">
                <h:outputText value=""/>
            </f:facet>
        </p:ajaxStatus>

        <h:outputStylesheet name="css/nanoscroller.css" library="serenity-layout"/>
        <h:outputStylesheet name="css/ripple.css" library="serenity-layout"/>
        <h:outputStylesheet name="css/layout-moody.css" library="serenity-layout"/>
        <h:outputStylesheet name="theme.css" library="primefaces-serenity-teal"/>
        <h:outputStylesheet name="css/common.css" library="serenity-layout"/>
        <h:outputStylesheet name="css/custom-ltr.css" library="common"/>


        <h:outputScript>
            $(document).on('pfAjaxStart', function () {
                if(PF('dlg2') != undefined) PF('dlg2').show();
            });
            $(document).on('pfAjaxComplete', function () {
                if(PF('dlg2') != undefined) PF('dlg2').hide();
            });
        </h:outputScript>

        <p:dialog widgetVar="dlg2" modal="true" closable="false" responsive="true">
            <h:graphicImage value="/images/ajaxLoader.gif" style="background-color: transparent"/>
        </p:dialog>
    </h:body>
</f:view>

</html>
