<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>

    <div class="layout-topbar">
        <a href="/" class="topbar-logo">
            <p:graphicImage width="120" name="images/logo/logo.gif" library="serenity-layout"/>
            <span class="app-name"></span>
        </a>


        <a href="#" class="menu-btn">
            <i class="material-icons">&#xE5D2;</i>
        </a>

        <a href="#" class="topbar-menu-btn">
            <i class="material-icons">&#xE853;</i>
        </a>

        <div class="layout-topbar-menu-wrapper">
            <div class="sidebar-logo">
                <a href="/dashboard.xhtml">
                    <p:graphicImage name="images/logo-slim.png" library="serenity-layout"/>
                    <span class="app-name">SERENITY</span>
                </a>
                <a href="#" class="sidebar-anchor" title="Toggle Menu"/>
            </div>

            <ul class="topbar-menu animated">
                <li class="profile-item">
                    <h:link outcome="/pages/Monitoring/DashBoard.xhtml">
                        <span class="profile-image-wrapper">
                            <p:graphicImage name="images/logo/logo.gif" library="serenity-layout"/>
                        </span>
                    </h:link>


                </li>
                <li role="menuitem" title="#{localeResources['system.logout.label']}">
                    <a href="#">

                        <p:commandLink action="#{loginController.logout}">

                            <i class="material-icons">&#xE8AC;</i>
                        </p:commandLink>


                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="topbar-icon material-icons">&#xE8B8;</i>
                        <span class="topbar-item-name">Settings</span>
                    </a>
                    <ul class="animated">
                        <li role="menuitem">
                                <p:commandLink action="#{loginController.prepareChangePassword()}">
                                    <i class="material-icons">vpn_key</i>
                                    #{localeResources['change.password']}
                                </p:commandLink>
                        </li>
                    </ul>
                </li>
                <ui:fragment rendered="#{not empty loginController.userProfile}">
                <li class="search-item">
                        <h:outputText value="#{loginController.userProfile.uNameLa}" style="color: white; font-size: large"/>
                </li>
                </ui:fragment>
            </ul>

        </div>
    </div>

</ui:composition>